@import "base/variables";


* {
    font-family:  'MuseoSansCyrl',  sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";


@import "blocks/media";
