.button {
    width: 150px;
    height: 30px;
    background-color: $main_color;
    border-radius: 5px;
    border: none;

    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.5s all;
    &:hover {
        box-shadow: 5px 5px 15px rgb(13, 13, 33);
        border: none;
        background-color: rgb(162, 7, 7);
    }
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;         
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;

        font-size: 16px;
        &:hover {
            box-shadow: 5px 5px 20px rgb(255, 255, 255);
            border: none;
        }
    }

    &_mini {
        width: 131px;
        height: 40px;

        font-size: 14px;
    }
}