@media (max-width: 1200px) {
    .container {
      padding: 0 15px 0 15px;
    }
}

@media (max-width: 992px) {
    .promo {
        &__header {
            font-size: 35px; 
        }
        &__subheader {
            font-size: 20px; 
        }
        &__wrapper {
            align-items:center;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
            margin-top: 40px;
        }
    }

    .title {
        font-size: 30px;
        text-align: center;
    }
    .feed-form {
        margin: 36px auto 0 auto;
    }
}

@media (max-width: 768px) {
    .promo {
        &__header {
            font-size: 25px; 
        }
        &__subheader {
            font-size: 15px; 
        }

    }

    .header {
        &__phone {
        font-size: 15px;
        margin-bottom: 0;
        }
        &__logo {
            img {
                width: 80%;
            }
        }
    }
}

@media (max-width: 670px) {
    .header {
        &__official {
            display: none;
        }
    }
    .title {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo {
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
    }
    .promo {
        &__wrapper {
            margin-top: 45px;
        }
        &__icons {
            flex-direction: column;
            align-items:center;
            width: 100%;
        }
        &__icon:not(:last-child) {
            margin-bottom: 30px;
        }

    }
    .advantages{
        &__list {
            flex-direction: column;
            align-items:center
        }
    }

}